{% extends "home/base_home.html" %}
{% load static %}

{% block content %}

{% include "includes/header.html" %}



<!-- crear Noticias -->
<div class="cell ">
    <a href="{% url 'entrada_app:Create-entry' %}" style="font-size: 20px; color: #0277bd;">
        Crear Noticias
    </a>
</div>

<div class="grid-container">

    <h2>Mensajes recibidos</h2>
    <!-- lista de mensajes -->
    <div class=" grid-x ">
        {% for i in listmessagge %}
        <div class="card large-4">


            <div class="cell callout success">
                <h5>mensaje de: {{i.full_name}}</h5>
                <p>MENSAJE: {{i.messagge}}</p>
                <p>Contacto email: {{i.email}}</p>
                
            </div>
            
       
        </div>
        {% endfor %}
    </div>
     <!-- contador de subscriptores -->
     <h3>Total de subscriptores {{subscriptionTodal}}</h3>
    <!-- lista de subscriptores -->
    <table>
        <thead>
          <tr>
              <th>Lista suscriptores</th>
              
        </tr>
        </thead>
        <tbody>
            {% for i in subscription %}
          <tr>
            <td>{{i.email}}</td>
           
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock content %}
</div>