
<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-6 large-4" style="margin-top: 2em;" >
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                  <h4>Creando Nueva Noticia {{user}}</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                        </div>
                        {{form.errors}}
                        </div>
                        <div class="cell large-12">
                            <label>Categoria:
                            {{form.category}}
                            </label>
                        </div>
                        <div class="cell large-12">
                            <label>Titulo:
                            {{form.title}}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label>Resumen:
                              {{form.resume}}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label>Contenido:
                              {{form.content}}
                            </label>
                        </div>
                        <div class="cell medium-12"> 
                            <label>Imagen:
                              {{form.image}}
                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}